<section class="directorio " style="margin-top: 12vw;">
      <div class="uk-card uk-card-default uk-width-1-2@m comentario ">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img
                class="uk-border-circle"
                width="40"
                height="40"
                src="sinfoto.png"
              />
            </div>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Review</h3>
              <p class="uk-text-meta uk-margin-remove-top">
                <div class="uk-margin">
                    <form action="" method="POST">
                    <textarea class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
                    <input class="uk-button uk-button-default" style="margin-top: 10px;" type="submit" value="Guardar" />
                </form>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>